@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh; /* Ocupa toda la pantalla */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    padding-top: 80px; /* Evita que el header cubra contenido */
}

.content {
    flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
    padding: 20px;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #21023a94;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    margin-right: 10px;
}

/* NAVBAR */
.navbar a {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::after {
    width: 100%;
}

/* Styling the search form */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    transition: all 0.3s ease;
}

.search-form input[type="text"]:focus {
    border-color: #9311c7;
}

.search-form button {
    background-color: #933ecb;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 8px;
    transition: all 0.3s ease;
}

.search-form button:hover {
    background-color: #6200b3;
}
